/* .sidebar { */
   /* Set the sidebar height to 100% of the viewport height */
   /* background-color: #f0f0f0; */
   /* background-color: #d4c7c7;
 } */
 .sidebar {
  width: 250px;
  height: 100vh;
  background:  #B3B1B1 ;
  /* background-color: #333; */
  color: #fff;
}
 
 .sidebar-menu {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 .sidebar-item1 {
  position: fixed;
   width: 170px;
   height: 138px;
   left: 31px;
   top: 30px; 
   font-family: Capriola;
   font-style: normal; 
   font-weight: 400;
   font-size: 35px;
   color: #6BC258;
   padding: 20px; 

 }

 .sidebar-item2{
  position: absolute; 
  width: 170px;
  height: 138px;
  left: 31px;
  top: 70px;  
  font-family: Capriola;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  color: #414141;
  
 }
 .sidebar-menu-item {
  padding: 10px;
  cursor: pointer;
}

/* .sidebar-menu-item:hover {
  background-color:  #414141;
   background-color: #555; 
} */
 
 .sidebar-item:last-child {
   margin-bottom: 0; 
   border-bottom: none;
 }
 .list{
  list-style: none;
   padding: 0;
   margin: 0;
 }

 body{
  margin: 0;
  padding: 0;
}
.sidebar-button {
  /* display: absolute; */
    width: 100%; 
   height: 45px;
  /* padding: 10px;  */
  border: none; 
  background: none;
  color:#414141;
  text-align: left;
  cursor: pointer;
  position: bottom;
  text-align: justify;
}

.sidebar-button:focus {
  outline: none;
}

.sidebar-button.active {
  background-color: #555;
  color: #fff;
}

.sidebar-button:hover {
  background-color: #c7c5c5;
}

